<p-splitter [style]="{'height': '90vh','width':'auto'}"  [minSizes]="[10,0]" [panelSizes]="[45,10]" styleClass="mb-5">
	
	<ng-template pTemplate>
			<p-splitter layout="vertical" >
					<ng-template pTemplate>
							<div class="col flex align-items-center justify-content-center">
									Video Panel
							</div>
					</ng-template>
					<ng-template pTemplate>
							<p-splitter [panelSizes]="[15,85]">
								
									<ng-template pTemplate>
											<div class="col flex align-items-center justify-content-center">
													Description Panel
											</div>
									</ng-template>
							</p-splitter>
					</ng-template> 
			</p-splitter>
	</ng-template>
	<ng-template pTemplate class="col flex align-items-center justify-content-center">
		
		<p-panelMenu [model]="items" ></p-panelMenu>
			
		
</ng-template>
</p-splitter>

<p-panelMenu [model]="items"></p-panelMenu>